@import url(https://allfont.net/allfont.css?fonts=orbitron-bold);

.bg {
    background-color: black;
}

.img {
    margin-top: 45px;
    width: 10%;
    height: 10%;
}

.titre{
    color: white;
    font-family: 'Orbitron Bold', arial;
    font-size: 38px;
}

.txt{
    color: white;
    font-family: 'Orbitron Bold', arial;
    font-size: 16px;
}
