<<<<<<< HEAD
// Couleurs
=======
>>>>>>> 7148997fac76835bc368a012bbc6f541b802fc68
$blanc : #ffffff
$gris : #726b6b
$grisclair : #e5dede
$grisfoncé : #554c4c
$beige : #f0efef
$noir : #000000
$couleurboutton1 :  #f24b4b

<<<<<<< HEAD
// Police
$bold : bolder
$light : lighter

// Tailles
$h1 : 45px
$h2 : 25px

// Caractères
=======
$bold : bolder
$light : lighter

$h1 : 45px
$h2 : 25px

>>>>>>> 7148997fac76835bc368a012bbc6f541b802fc68
$Maj : Uppercase


