$blanc : #ffffff
$gris : #726b6b
$grisclair : #e5dede
$grisfoncé : #554c4c
$beige : #f0efef
$noir : #000000
$couleurboutton1 :  #f24b4b

$bold : bolder
$light : lighter

$h1 : 45px
$h2 : 25px

$Maj : Uppercase


