<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Notes - $sujet</title>
    <link rel="stylesheet" href="./public/css/style.css">
</head>

<body class="bg">
    <center>
        <div>
            <img src="./public/img/mgk.png" class="img" alt="">
        </div>
        <br>
        <br>
        <br>
        <h1 class="titre">Notes - $Sujet :</h1>
        <br>
        <p class="txt"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, dolorem.</p>
    </center>
</body>

</html>